<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bezlio.rdb.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <bezlio.rdb.plugins.Properties.Settings>
            <setting name="rptFileLocations" serializeAs="String">
                <value>
                  [
                  {
                  'locationName': 'Friendly Name',
                  'locationPath': 'C:\\Path\\Reports\\'
                  },
                  {
                  'locationName': 'Another Friendly Name',
                  'locationPath': 'C:\\Different Path\\Reports\\'
                  }
                  ]
                
</value>
            </setting>
            <setting name="connections" serializeAs="String">
                <value>
                  [
                  {
                  'connectionName': 'Friendly Connection Name',
                  'serverAddress': 'SQL_SERVER',
                  'databaseName': 'DATABASE_NAME',
                  'userName': 'SQL_USER_NAME',
                  'password': 'SQL_USER_PASSWORD'
                  }
                  ]
                
</value>
            </setting>
        </bezlio.rdb.plugins.Properties.Settings>
    </applicationSettings>
</configuration>