<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bezlio.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <bezlio.plugins.Properties.Settings>
          <setting name="allowDynamicQueries" value="true"></setting>
            <setting name="sqlFileLocations" serializeAs="String">
                <value>
                  [
                  {
                  'locationName': 'common',
                  'locationPath': 'C:\\Program Files (x86)\\Bezlio Remote Data Broker\\Queries\\common\\'
                  },
                  {
                  'locationName': 'customer-portal',
                  'locationPath': 'C:\\Program Files (x86)\\Bezlio Remote Data Broker\\Queries\\customer-portal\\'
                  },
                  {
                  'locationName': 'production-team-leader',
                  'locationPath': 'C:\\Program Files (x86)\\Bezlio Remote Data Broker\\Queries\\production-team-leader\\'
                  },
                  {
                  'locationName': 'sales-manager',
                  'locationPath': 'C:\\Program Files (x86)\\Bezlio Remote Data Broker\\Queries\\sales-manager\\'
                  },
                  {
                  'locationName': 'sales-rep',
                  'locationPath': 'C:\\Program Files (x86)\\Bezlio Remote Data Broker\\Queries\\sales-rep\\'
                  }
                  ]
                </value>
            </setting>
            <setting name="connections" serializeAs="String">
                <value>
                  [
                  {
                  'connectionName': 'Production',
                  'serverAddress': 'SQL Server Address',
                  'databaseName': 'Database Name',
                  'userName': 'SQL Server Authentication User Name',
                  'password': 'Password'
                  },
                  {
                  'connectionName': 'Test',
                  'serverAddress': 'SQL Server Address',
                  'databaseName': 'Database Name',
                  'userName': 'SQL Server Authentication User Name',
                  'password': 'Password'
                  },
                  {
                  'connectionName': 'Training',
                  'serverAddress': 'SQL Server Address',
                  'databaseName': 'Database Name',
                  'userName': 'SQL Server Authentication User Name',
                  'password': 'Password'
                  }
                  ]
                </value>
            </setting>
        </bezlio.plugins.Properties.Settings>
    </applicationSettings>
</configuration>