<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bezlio.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <bezlio.plugins.Properties.Settings>
            <setting name="connections" serializeAs="String">
                <value>
                  [
                  {
                  'ConnectionName': 'Visual8',
                  'InstanceName': 'VMFG',
                  'Provider': 'SQLServer',
                  'Driver': '',
                  'DataSource': 'server/database',
                  'UserName': 'SYSADM',
                  'Password': 'SYSADM'
                  }
                  ]</value>
            </setting>
            <setting name="visualClientPath" serializeAs="String">
                <value>C:\Infor\Visual8\Client</value>
            </setting>
        </bezlio.plugins.Properties.Settings>
    </applicationSettings>
</configuration>