/Plugins/CrystalReports/bin/**/*
/Plugins/CrystalReports/obj/**/*
/Plugins/CrystalReports/.vs/**/*
/Plugins/Dummy/bin/**/*
/Plugins/Dummy/obj/**/*
/Plugins/Dummy/.vs/**/*
/Plugins/Epicor10/bin/**/*
/Plugins/Epicor10/obj/**/*
/Plugins/Epicor10/.vs/**/*
/Plugins/Epicor905/bin/**/*
/Plugins/Epicor905/obj/**/*
/Plugins/Epicor905/.vs/**/*
/Plugins/FileSystem/bin/**/*
/Plugins/FileSystem/obj/**/*
/Plugins/FileSystem/.vs/**/*
/Plugins/ODBC/bin/**/*
/Plugins/ODBC/obj/**/*
/Plugins/ODBC/.vs/**/*
/Plugins/Salesforce/bin/**/*
/Plugins/Salesforce/obj/**/*
/Plugins/Salesforce/.vs/**/*
/Plugins/SQLServer/bin/**/*
/Plugins/SQLServer/obj/**/*
/Plugins/SQLServer/.vs/**/*
/packages/**/*
/.vs/**/*