<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="bezlio.rdb.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SSRS_Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="bezlio.rdb.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SSRS_Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <bezlio.rdb.plugins.Properties.Settings>
            <setting name="connections" serializeAs="String">
                <value>
                  [
                  {
                  'connectionName': 'Friendly Connection Name',
                  'serverAddress': 'SQL_SERVER',
                  'databaseName': 'DATABASE_NAME',
                  'userName': 'SQL_USER_NAME',
                  'password': 'SQL_USER_PASSWORD'
                  }
                  ]
                
</value>
            </setting>
        </bezlio.rdb.plugins.Properties.Settings>
        <SSRS_Plugin.Properties.Settings>           
            <setting name="connections" serializeAs="String">
                <value>
                  [
                  {
                  'connectionName': 'Friendly Connection Name',
                  'serverAddress': 'SQL_SERVER',
                  'databaseName': 'DATABASE_NAME',
                  'userName': 'SQL_USER_NAME',
                  'password': 'SQL_USER_PASSWORD'
                  }
                  ]
                
</value>
            </setting>
        </SSRS_Plugin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <bezlio.rdb.plugins.Properties.Settings>
            <setting name="rptSvrLocation" serializeAs="String">
                <value>
                  [
                  {
                  'locationName': 'Friendly Name',
                  'locationPath': 'C:\\Path\\Reports\\'
                  },
                  {
                  'locationName': 'Another Friendly Name',
                  'locationPath': 'C:\\Different Path\\Reports\\'
                  }
                  ]
                
</value>
            </setting>
        </bezlio.rdb.plugins.Properties.Settings>
        <SSRS_Plugin.Properties.Settings>
            <setting name="rptSvrLocation" serializeAs="String">
                <value>
                  [
                  {
                  'locationName': 'Friendly Name',
                  'locationPath': 'C:\\Path\\Reports\\'
                  },
                  {
                  'locationName': 'Another Friendly Name',
                  'locationPath': 'C:\\Different Path\\Reports\\'
                  }
                  ]
                
</value>
            </setting>
        </SSRS_Plugin.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>