<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSRS_Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSRS_Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SSRS_Plugin.Properties.Settings>
            <setting name="SSRS_Plugin_ReportService2010_ReportingService2010"
                serializeAs="String">
                <value>http://dev-sql2014:80/ReportServer/ReportService2010.asmx</value>
            </setting>
            <setting name="SSRS_Plugin_ReportExecution2005_ReportExecutionService"
                serializeAs="String">
                <value>http://dev-sql2014:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="connections" serializeAs="String">
                <value>
                  [
                  {
                  'connectionName': 'Friendly Connection Name',
                  'serverAddress': 'SQL_SERVER',
                  'databaseName': 'DATABASE_NAME',
                  'userName': 'SQL_USER_NAME',
                  'password': 'SQL_USER_PASSWORD'
                  }
                  ]
                
</value>
            </setting>
        </SSRS_Plugin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SSRS_Plugin.Properties.Settings>
            <setting name="rptSvrLocation" serializeAs="String">
                <value>
                  [
                  {
                  'locationName': 'Friendly Name',
                  'locationPath': 'C:\\Path\\Reports\\'
                  },
                  {
                  'locationName': 'Another Friendly Name',
                  'locationPath': 'C:\\Different Path\\Reports\\'
                  }
                  ]
                
</value>
            </setting>
        </SSRS_Plugin.Properties.Settings>
    </userSettings>
</configuration>