<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Label_Printing_Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Label_Printing_Plugin.Properties.Settings>
            <setting name="labelEngine" serializeAs="String">
                <value>Bartender or Loftware</value>
            </setting>
            <setting name="dropFolder" serializeAs="String">
                <value>c:\Path\To\Drop\Folder</value>
            </setting>
            <setting name="templateFolder" serializeAs="String">
                <value>c:\Path\To\Template\Folder</value>
            </setting>
        </Label_Printing_Plugin.Properties.Settings>
    </applicationSettings>
</configuration>