<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bezlio.rdb.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <bezlio.plugins.Properties.Settings>
            <setting name="connections" serializeAs="String">
                <value>
                  [
                  {
                  'connectionName': 'Friendly Connection Name',
                  'appServerUrl': 'net.tcp://YOUR_APP_SERVER_NAME/YOUR_INSTANCE',
                  'userName': 'YOUR_EPICOR_LOGIN',
                  'password': 'YOUR_EPICOR_PASSWORD'
                  },
                  {
                  'connectionName': 'Another Connection',
                  'appServerUrl': 'net.tcp://YOUR_APP_SERVER_NAME/YOUR_INSTANCE',
                  'userName': 'YOUR_EPICOR_LOGIN',
                  'password': 'YOUR_EPICOR_PASSWORD'
                  }
                  ]
                </value>
            </setting>
            <setting name="epicorClientPath" serializeAs="String">
                <value>C:\Path\To\Epicor\Client\</value>
            </setting>
        </bezlio.plugins.Properties.Settings>
    </applicationSettings>
</configuration>