<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bezlio.rdb.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <bezlio.rdb.plugins.Properties.Settings>
            <setting name="connections" serializeAs="String">
                <value>
                  [
                  {
                  'connectionName': 'Epicor 10 AE',
                  'appServerUrl': 'net.tcp://DEV-EPICOR10/ERP100700_AE',
                  'userName': 'manager',
                  'password': 'manager'
                  }
                  ]
                
</value>
            </setting>
            <setting name="epicorClientPath" serializeAs="String">
                <value>C:\Epicor\ERP10.0Client\Client</value>
            </setting>
        </bezlio.rdb.plugins.Properties.Settings>
    </applicationSettings>
</configuration>