<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bezlio.rdb.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <bezlio.rdb.plugins.Properties.Settings>
            <setting name="developerInfo" serializeAs="String">
              <value>
                [
                {
                'accessKey': 'DEVELOPER ACCESS KEY',
                'secretKey': 'DEVELOPER SECRET KEY',
                'appName': 'APPLICATION NAME',
                'appVersion': 'APP VERSION'
                }
                ]
              </value>
            </setting>
            <setting name="sellerInfo" serializeAs="String">
              <value>
                [
                {
                'sellerId': 'AMAZON SELLER ID',
                'mwsAuthToken': 'MWS AUTHORIZATION TOKEN',
                'marketplaceId': 'AMAZON MARKETPLACE ID'
                }
                ]
              </value>
            </setting>
        </bezlio.rdb.plugins.Properties.Settings>
    </applicationSettings>
</configuration>