<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bezlio.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <bezlio.plugins.Properties.Settings>
            <setting name="sqlFileLocations" serializeAs="String">
                <value>
                  [
                  {
                  'locationName': 'Friendly Folder Name',
                  'locationPath': 'C:\\Path\\Queries\\'
                  },
                  {
                  'locationName': 'Another Friendly Name',
                  'locationPath': 'C:\\Different Path\\Queries\\'
                  }
                  ]
                </value>
            </setting>
            <setting name="connections" serializeAs="String">
                <value>
                  [
                  {
                  'connectionName': 'Friendly Connection Name',
                  'DSN': 'ODBC DSN'
                  }
                  ]
                </value>
            </setting>
        </bezlio.plugins.Properties.Settings>
    </applicationSettings>
</configuration>