<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="bezlio.rdb.plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <bezlio.plugins.Properties.Settings>
      <setting name="connections" serializeAs="String">
        <value>
                  [
                  {
                  'connectionName': 'Your Magento Site Name',
                  'siteUrl': 'http://YOUR_MAGENTO_SITE.com',
                  'consumerKey': 'YOUR_CONSUMER_KEY',
                  'consumerSecret': 'YOUR_CONSUMER_SECRET',
                  'magentoUserName': 'admin',
                  'magentoUserPassword': 'YOUR_MAGENTO_PASSWORD'
                  }
                  ]
                </value>
      </setting>
    </bezlio.plugins.Properties.Settings>
  </applicationSettings>
</configuration>